*{
    margin: 0;
    padding: 0;
    border: 0;
}

.menu{
    text-align: center;
}

.logo-top{
    text-align: center;
}

.img-mulher{
    text-align: center;
}

.triangulo{
    text-align: center;
}

.mini-logos{
    text-align: center;
}

.ltda{
    text-align: center;
}